*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.pexels.com/photos/28454507/pexels-photo-28454507/free-photo-of-tic-tac-toe-game-on-black-surface.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #403d39;
    padding: 10px 20px;
    position: relative;
}

.logo {
    color: blue;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: gold;
}

h1{
    color: goldenrod;
}

h1:hover {
    color: white;
}

.container {
    height: 70vh; /* giving webpage to 70% container*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow:  0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b041b0;
  background-color: #fefae0;
}
.box:hover{
    background-color: lightblue;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#reset-btn:hover {
    color: #f6bd60;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;

}
#msg {
    color: coral;
    font-size: 5vmin;
}
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

/*footer section*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.footer-links a:hover {
    color: #ddd;
    cursor: pointer;
}
 /* animation*/

 .game-board.fade-out {
    animation: fadeOut 0.5s ease forwards;
}

.game-board.fade-in {
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeOut {
    to { opacity: 0; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
